@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>A multi-language website</h1>
    <p class="lead">You can see "Home About Contact" menu language will change when you changed language.</p>
    <p><a href="/language/change" class="btn btn-primary btn-lg">Change Language &raquo;</a></p>
    <p><a href="/home/NotificationBarTest" class="btn btn-primary btn-lg">Change Language via Notification Bar &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Clear Cookie</h2>
        <p> ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.
            <img src="~/img/Ironman-Mask-1-Gold-icon.png" />
        </p>
        <br/>
        <button style="margin-top:-10px;" type="button" onclick="ClearCookie('@ViewBag.Language')" class="btn btn-success">Clear Cookie</button>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
            <img src="~/img/spiderman-icon.png" />
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.
       <img src="~/img/Superman-icon.png" />
         </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

</div>



<script>
    function ClearCookie() {

        $.ajax({
            method: "POST",
            url: '@Url.Content("~/Home/ClearCookie")',
            success: function (res) {

                var jtext = JSON.stringify(res);
                var returnedData = JSON.parse(jtext);

                if (returnedData.Code == true || returnedData.Code == 'true') {

                    bootbox.alert({ message: "Cleared.", className: "modal70" });
                    //location.reload();

                } else {
                    bootbox.alert({ message: "Error! " + returnedData.Description, className: "modal70" });
                }
            }, error: function (x, h, r) {
                alert(x + h + r);
            }
        });

    }
</script>
